/* Importação da fonte */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* Estilo do corpo da página */
body {
  background-color: #ddd;
  font-family: "Poiret One", Segoe UI Light, cursive;
}

/*CSS para ocultar os elementos inicialmente*/
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* Estilo do cartão */
#card {
  position: absolute;
  top: 100px;
  width: 460px;
  height: 260px;
  left: 50%;
  margin-left: -230px;
}

/* Estilo dos corações */
#card .heart {
  width: 260px;
  height: 260px;
  float: left;
}

/* Estilo do círculo do coração */
#card .heart #circle {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #d32f2f;
}

/* Estilo dos retângulos do coração */
#card .heart #rec,
#card .heart #rec2 {
  margin-top: -60px;
  width: 130px;
  height: 130px;
  background-color: #d32f2f;
  border-radius: 35% 0 0 0;
}

/* Estilo da metade direita do coração esquerdo */
#card .heart #half2 {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  margin-top: -330px;
  margin-left: -200px;
}

/* Estilo do coração direito */
#card #heart2 {
  margin-top: -60px;
  margin-left: -130px;
  transform: rotate(180deg) scaleY(-1); /* Inverte o coração direito verticalmente */
}

/* Estilo do círculo e retângulo do coração direito */
#card #heart2 #circle,
#card #heart2 #rec {
  background-color: #fff;
}

/* Estilo do retângulo da metade direita do coração direito */
#card #heart2 #half2 #rec {
  border-bottom: 1px solid #eee;
  margin-top: -61px;
}

/* Estilo da mensagem */
#card #message {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: -130px;
  background-color: #333;
  border-radius: 35% 0 35% 0;
  text-align: center;
}

/* Estilo do texto da mensagem */
#card #message h2 {
  font-size: 20px;
  color: #fff;
  width: 160px;
  margin-top: 80px;
  margin-left: 16px;
}

/* Animação para fechar o lado esquerdo */
#card #heart1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: closeLeft 2s ease-in-out forwards;
  -moz-animation: closeLeft 2s ease-in-out forwards;
  -ms-animation: closeLeft 2s ease-in-out forwards;
  animation: closeLeft 2s ease-in-out forwards;
}

/* Animação para fechar o lado direito */
#card #heart2 {
  -webkit-transform: rotate(0deg) scaleY(-1);
  -moz-transform: rotate(0deg) scaleY(-1);
  -ms-transform: rotate(0deg) scaleY(-1);
  transform: rotate(0deg) scaleY(-1);
  -webkit-animation: closeRight 2s ease-in-out forwards;
  -moz-animation: closeRight 2s ease-in-out forwards;
  -ms-animation: closeRight 2s ease-in-out forwards;
  animation: closeRight 2s ease-in-out forwards;
}

/* Animação para abrir o lado esquerdo */
#card.open #heart1 {
  -webkit-animation: openLeft 2s ease-in-out forwards;
  -moz-animation: openLeft 2s ease-in-out forwards;
  -ms-animation: openLeft 2s ease-in-out forwards;
  animation: openLeft 2s ease-in-out forwards;
}

/* Animação para abrir o lado direito */
#card.open #heart2 {
  -webkit-animation: openRight 2s ease-in-out forwards;
  -moz-animation: openRight 2s ease-in-out forwards;
  -ms-animation: openRight 2s ease-in-out forwards;
  animation: openRight 2s ease-in-out forwards;
}

/* Keyframes para abrir o lado esquerdo */
@-webkit-keyframes openLeft {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
  }
}
@-moz-keyframes openLeft {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(180deg);
  }
}
@-ms-keyframes openLeft {
  from {
    -ms-transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(180deg);
  }
}
@keyframes openLeft {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

/* Keyframes para abrir o lado direito */
@-webkit-keyframes openRight {
  from {
    -webkit-transform: rotateY(180deg) scaleY(-1);
  }
  to {
    -webkit-transform: rotateY(0deg) scaleY(-1);
  }
}
@-moz-keyframes openRight {
  from {
    -moz-transform: rotateY(180deg) scaleY(-1);
  }
  to {
    -moz-transform: rotateY(0deg) scaleY(-1);
  }
}
@-ms-keyframes openRight {
  from {
    -ms-transform: rotateY(180deg) scaleY(-1);
  }
  to {
    -ms-transform: rotateY(0deg) scaleY(-1);
  }
}
@keyframes openRight {
  from {
    transform: rotateY(180deg) scaleY(-1);
  }
  to {
    transform: rotateY(0deg) scaleY(-1);
  }
}

/* Keyframes para fechar o lado esquerdo */
@-webkit-keyframes closeLeft {
  from {
    -webkit-transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
  }
}
@-moz-keyframes closeLeft {
  from {
    -moz-transform: rotateY(180deg);
  }
  to {
    -moz-transform: rotateY(0deg);
  }
}
@-ms-keyframes closeLeft {
  from {
    -ms-transform: rotateY(180deg);
  }
  to {
    -ms-transform: rotateY(0deg);
  }
}
@keyframes closeLeft {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* Keyframes para fechar o lado direito */
@-webkit-keyframes closeRight {
  from {
    -webkit-transform: rotateY(0deg) scaleY(-1);
  }
  to {
    -webkit-transform: rotateY(180deg) scaleY(-1);
  }
}
@-moz-keyframes closeRight {
  from {
    -moz-transform: rotateY(0deg) scaleY(-1);
  }
  to {
    -moz-transform: rotateY(180deg) scaleY(-1);
  }
}
@-ms-keyframes closeRight {
  from {
    -ms-transform: rotateY(0deg) scaleY(-1);
  }
  to {
    -ms-transform: rotateY(180deg) scaleY(-1);
  }
}
@keyframes closeRight {
  from {
    transform: rotateY(0deg) scaleY(-1);
  }
  to {
    transform: rotateY(180deg) scaleY(-1);
  }
}